[Unit]
Description=Incus - Daemon
After=network-online.target openvswitch.service lxcfs.service incus.socket
Requires=network-online.target lxcfs.service incus.socket
Documentation=man:incusd(1)

[Service]
Environment=INCUS_EDK2_PATH=/usr/share/edk2/ovmf
Environment=INCUS_SOCKET=/run/incus/unix.socket
Environment=INCUS_USBIDS_PATH=/usr/share/hwdata/usb.ids
ExecStart=/usr/libexec/incus/incusd --group incus-admin
ExecStartPost=/usr/libexec/incus/incusd waitready --timeout=600
KillMode=process
TimeoutStartSec=600s
TimeoutStopSec=330s
Restart=on-failure
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
TasksMax=infinity

[Install]
Also=incus-startup.service incus.socket
